<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 id="n" >Hello, {{ cookie if cookie else "stranger" }}!</h2>
    <form action="/get-cookie" method="post">
        <input type="text" name="name" placeholder="enter cookie you want">
        <button type="submit">Enter</button>
    </form>

    {% if cookie %}
        <h1>you got cookie</h1>
    {% else %}
        <h1>no cookie for you</h1>
    {% endif %}
</body>
</html>