<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="./ca_nhan1.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', path='/style_for_try.css') }}" rel="stylesheet">

    <title>wed1</title>

</head>

<body>

    <header class="header">
        <a href="#" class="logo"> <i class="fa-solid fa-horse"></i>Doandepzai</a>
        <nav class="nav">
            <a href="#"> Home </a> 
            <a href="#">About</a> 
            <a href="#"> Menu </a> 
            <a href="#"> Review </a>
            <a href="#"> Contact </a>
        </nav>

    </header>

    <section class="home">

        <div class="content">
            <h2> Welcome!!!</h2>
            <p> My name is Doan. I'm 20 years old when I was born. I'm currently studying information technology.
                I just learned to do frontend so I hope you guys support my tiktok channel. Forever love </p>
            <a href="#"> Get Started </a>
        </div>
        <div class="login">
            <h2> Member Login </h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon">
                        <i class="fa solid fa cnvelope"></i>
                    </span>
                    <input type="text" class="input" placeholder="  Enter your email" autocomplete="off" required>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" class="input" placeholder="  Enter your password" autocomplete="off"
                            required>
                    </span>
                </div>
                <div class="remember-forgot">
                    <label> <input type="checkbox"> remeber me</label>
                    <a href="#"> forgot password</a>
                </div>
                <button type="submit"> Login </button>
                <div class="register-link">
                    <p> Not a member?</p>
                    <a href="#"> Sign up now</a>
                </div>
            </form>
        </div>

    </section>
</body>

</html>